.btn-pink {
	background-color: #BA3240;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	font-weight: bold;
	font-family: "Raleway", serif;

}

.btn-pink:hover {
	background-color: #F1C6C6;
	color: white;